In [1]:
import pandas as pd

In [13]:
fs_923_df = pd.read_csv('../data/fs_sept_23.csv')
ce5_923_df = pd.read_csv('../data/ce5_sept_23.csv')
ce6_923_df = pd.read_csv('../data/ce6_sept_23.csv')

In [41]:
fs_923_df[fs_923_df['BEGIN'].str.match(r'2021-09-23T00:29')].sort_values('BEGIN')['BEGIN']
#fs_923_df[fs_923_df['END'].str.match(r'2021-09-23T00:29')].sort_values('END')['END']

3582    2021-09-23T00:29:21
497     2021-09-23T00:29:26
3583    2021-09-23T00:29:26
4329    2021-09-23T00:29:26
4934    2021-09-23T00:29:26
Name: BEGIN, dtype: object

In [38]:
#ce5_923_df.head(3)
ce5_923_df[ce5_923_df['0'].str.match(r'2021-09-23 00:29')].sort_values('0')['0']

1    2021-09-23 00:29:20.438561
Name: 0, dtype: object

In [39]:
ce6_923_df[ce6_923_df['0'].str.match(r'2021-09-23 00:29')].sort_values('0')['0']

Series([], Name: 0, dtype: object)

In [42]:
fs_923_df[fs_923_df['BEGIN'].str.match(r'2021-09-23T00:29:21')]

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
3582,32743015,COMPLETED,2021-09-23T00:29:21,2021-09-23T04:08:06,81920Mn,36936.16M,1-00:00:00,03:38:45,1,16,production,0:0

In [43]:
ce5_923_df[ce5_923_df['0'].str.match(r'2021-09-23 00:29:20.438561')]

,0,1,2,3,4,5,6
1,2021-09-23 00:29:20.438561,user 9204,retry 0,time 0.04696321487426758,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4bad0350.776217/...

In [45]:
ce5_923_df.head(1)

,0,1,2,3,4,5,6
0,2021-09-23 00:11:06.313431,user 9204,retry 0,time 0.0920553207397461,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4b3ec940.776217/...

In [46]:
fs_923_df[fs_923_df['BEGIN'].str.match(r'2021-09-23T00:11')]

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
475,32734318_157,COMPLETED,2021-09-23T00:11:26,2021-09-23T00:25:23,4096Mn,198.04M,01:30:00,00:13:57,1,4,production,0:0
476,32734318_158,COMPLETED,2021-09-23T00:11:26,2021-09-23T00:21:17,4096Mn,230.33M,01:30:00,00:09:51,1,4,production,0:0
3101,32742685_551,COMPLETED,2021-09-23T00:11:26,2021-09-23T13:49:57,4096Mn,378.71M,23:00:00,13:38:31,1,1,production,0:0
4311,32757163_48,COMPLETED,2021-09-23T00:11:26,2021-09-23T01:11:16,16384Mn,440.97M,1-00:00:00,00:59:50,1,16,production,0:0
4312,32757163_49,COMPLETED,2021-09-23T00:11:26,2021-09-23T01:09:58,16384Mn,440.90M,1-00:00:00,00:58:32,1,16,production,0:0
4908,32757828,COMPLETED,2021-09-23T00:11:26,2021-09-23T00:14:14,2000Mn,390.87M,2-00:00:00,00:02:48,1,1,sam,0:0

In [48]:
ce5_923_df.iloc[49]

0                           2021-09-23 11:59:07.681586
1                                            user 9204
2                                              retry 0
3                             time 0.03997468948364258
4                                         returncode 0
5                           command ['/usr/bin/sbatch'
6     '/tmp/condor_g_scratch.0x55df494a8f40.776217/...
Name: 49, dtype: object

In [49]:
fs_923_df[fs_923_df['BEGIN'].str.match(r'2021-09-23T11:59')]

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
1523,32734318_1205,COMPLETED,2021-09-23T11:59:30,2021-09-23T12:12:31,4096Mn,195.13M,01:30:00,00:13:01,1,4,production,0:0
1524,32734318_1206,COMPLETED,2021-09-23T11:59:30,2021-09-23T12:11:52,4096Mn,231.87M,01:30:00,00:12:22,1,4,production,0:0
6691,32762240_84,COMPLETED,2021-09-23T11:59:31,2021-09-23T20:18:54,256000Mn,108178.22M,3-00:00:00,08:19:23,1,13,production,0:0
6692,32762240_85,COMPLETED,2021-09-23T11:59:31,2021-09-23T12:08:34,256000Mn,101729M,3-00:00:00,00:09:03,1,13,production,0:0
7218,32762781,COMPLETED,2021-09-23T11:59:09,2021-09-23T12:00:34,2000Mn,0.09M,2-00:00:00,00:01:25,1,1,sam,0:0

In [67]:
fs_923_df[(~fs_923_df['JOBID'].str.match(r'\d*_\d*')) & (fs_923_df['PARTITION'] == 'production') & 
          (fs_923_df['BEGIN'].str.match(r'2021-09-23T23'))].sort_values('BEGIN')

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
11149,32770708,COMPLETED,2021-09-23T23:16:09,2021-09-23T23:16:27,1024Mn,0,00:10:00,00:00:18,1,1,production,0:0
3696,32743129,COMPLETED,2021-09-23T23:17:47,2021-09-24T03:02:37,81920Mn,34262.15M,1-00:00:00,03:44:50,1,16,production,0:0
3697,32743130,COMPLETED,2021-09-23T23:24:38,2021-09-24T03:05:36,81920Mn,34349.76M,1-00:00:00,03:40:58,1,16,production,0:0
3698,32743131,COMPLETED,2021-09-23T23:24:48,2021-09-24T03:13:45,81920Mn,34311.73M,1-00:00:00,03:48:57,1,16,production,0:0
3699,32743132,COMPLETED,2021-09-23T23:31:15,2021-09-24T03:32:59,81920Mn,34303.85M,1-00:00:00,04:01:44,1,16,production,0:0
3700,32743133,COMPLETED,2021-09-23T23:32:15,2021-09-24T03:26:36,81920Mn,34350.48M,1-00:00:00,03:54:21,1,16,production,0:0
11150,32770709,COMPLETED,2021-09-23T23:36:03,2021-09-23T23:36:57,1024Mn,0,00:10:00,00:00:54,1,1,production,0:0
3701,32743134,COMPLETED,2021-09-23T23:36:54,2021-09-24T03:42:03,81920Mn,34349.14M,1-00:00:00,04:05:09,1,16,production,0:0
3702,32743135,COMPLETED,2021-09-23T23:37:03,2021-09-24T03:26:36,81920Mn,34293.84M,1-00:00:00,03:49:33,1,16,production,0:0
11153,32770723,COMPLETED,2021-09-23T23:38:03,2021-09-23T23:38:16,1024Mn,0,00:10:00,00:00:13,1,1,production,0:0
11152,32770711,COMPLETED,2021-09-23T23:38:03,2021-09-23T23:38:16,1024Mn,0,00:10:00,00:00:13,1,1,production,0:0
11151,32770710,COMPLETED,2021-09-23T23:38:03,2021-09-23T23:38:16,1024Mn,0,00:10:00,00:00:13,1,1,production,0:0
3703,32743136,COMPLETED,2021-09-23T23:40:02,2021-09-24T03:41:02,81920Mn,36855.26M,1-00:00:00,04:01:00,1,16,production,0:0
3704,32743137,COMPLETED,2021-09-23T23:43:37,2021-09-24T03:45:40,81920Mn,34314.58M,1-00:00:00,04:02:03,1,16,production,0:0
3705,32743138,COMPLETED,2021-09-23T23:50:59,2021-09-24T03:39:27,81920Mn,31500.25M,1-00:00:00,03:48:28,1,16,production,0:0
3706,32743139,COMPLETED,2021-09-23T23:51:59,2021-09-24T03:34:42,81920Mn,37034.18M,1-00:00:00,03:42:43,1,16,production,0:0
11154,32770724,COMPLETED,2021-09-23T23:55:43,2021-09-23T23:56:35,1024Mn,0,00:10:00,00:00:52,1,1,production,0:0
11155,32770725,COMPLETED,2021-09-23T23:55:43,2021-09-23T23:56:35,1024Mn,0,00:10:00,00:00:52,1,1,production,0:0

In [62]:
ce5_923_df[ce5_923_df['0'].str.match(r'2021-09-23 23')]

,0,1,2,3,4,5,6
95,2021-09-23 23:11:19.112877,user 9204,retry 0,time 2.624953269958496,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4d94e210.776217/...
96,2021-09-23 23:29:34.811749,user 9204,retry 0,time 20.04094672203064,returncode 1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4789ba00.776217/...
97,2021-09-23 23:32:01.391829,user 9201,retry 0,time 20.16852045059204,returncode 1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df48f64540.776217/...
98,2021-09-23 23:41:37.837563,user 9204,retry 0,time 20.02840232849121,returncode 1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4c1f42e0.776217/...
99,2021-09-23 23:59:32.065979,user 9204,retry 0,time 16.306732177734375,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55df4c116480.776217/...

In [64]:
ce6_923_df[ce6_923_df['0'].str.match(r'2021-09-23 23')]

,0,1,2,3,4,5,6
94,2021-09-23 23:14:18.558188,user 9204,retry 0,time 1.7164342403411865,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55b43d523870.2522340...
95,2021-09-23 23:26:32.991057,user 9204,retry 0,time 20.048691749572754,returncode 1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55b43d147ba0.2522340...
96,2021-09-23 23:44:26.108585,user 9204,retry 0,time 6.029086351394653,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55b43d93e730.2522340...
97,2021-09-23 23:56:30.845851,user 9204,retry 0,time 8.153744459152222,returncode 0,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55b43d779890.2522340...