In [1]:
import pandas as pd

In [2]:
cs5_orig_df = pd.read_csv('../data/ce5_9024_sbatch.csv')
cs6_orig_df = pd.read_csv('../data/ce6_9024_sbatch.csv')
cs5_orig_df['4'] = cs5_orig_df['4'].str.extract(r'(\d)').astype(int)
cs6_orig_df['4'] = cs6_orig_df['4'].str.extract(r'(\d)').astype(int)
cs5_orig_df['0'] = pd.to_datetime(cs5_orig_df['0'], format='%Y-%m-%dT%H:%M:%S')
cs6_orig_df['0'] = pd.to_datetime(cs6_orig_df['0'], format='%Y-%m-%dT%H:%M:%S')

In [3]:
cs5_orig_df = pd.read_csv('../data/ce5_9024_sbatch.csv')
cs6_orig_df = pd.read_csv('../data/ce6_9024_sbatch.csv')
cs5_orig_df['4'] = cs5_orig_df['4'].str.extract(r'(\d)').astype(int)
cs6_orig_df['4'] = cs6_orig_df['4'].str.extract(r'(\d)').astype(int)
cs5_orig_df['0'] = pd.to_datetime(cs5_orig_df['0'], format='%Y-%m-%dT%H:%M:%S')
cs6_orig_df['0'] = pd.to_datetime(cs6_orig_df['0'], format='%Y-%m-%dT%H:%M:%S')cs5_1_df = cs5_df[cs5_df['4'] == 1]
cs5_1_series = pd.Series(list(cs5_1_df['4']), index=list(cs5_1_df['0']))
cs6_1_df = cs6_df[cs6_df['4'] == 1]
cs6_1_series = pd.Series(list(cs6_1_df['4']), index=list(cs6_1_df['0']))
resample_rate = 'm'
a = cs5_1_series.resample(resample_rate).sum().to_frame()
b = cs6_1_series.resample(resample_rate).sum().to_frame()
a.join(b, lsuffix='_cs5', rsuffix='_cs6')

            0_cs5  0_cs6
2020-10-31     23     29
2020-11-30    191    182
2020-12-31    493    388
2021-01-31    221    160
2021-02-28     49     54
2021-03-31    193    123
2021-04-30    165    109
2021-05-31    142     97
2021-06-30    156    165
2021-07-31     73     58
2021-08-31     28     61
2021-09-30     75     58
2021-10-31      2      1

In [4]:
cs5_df, cs6_df = cs5_orig_df, cs6_orig_df
cs5_1_df = cs5_df[(cs5_df['4'] == 1) & (cs5_df['0'].dt.month == 8)]
cs5_1_series = pd.Series(list(cs5_1_df['4']), index=list(cs5_1_df['0']))
cs6_1_df = cs6_df[(cs6_df['4'] == 1) & (cs6_df['0'].dt.month == 8)]
cs6_1_series = pd.Series(list(cs6_1_df['4']), index=list(cs6_1_df['0']))
resample_rate = 'd'
a = cs5_1_series.resample(resample_rate).sum().to_frame()
b = cs6_1_series.resample(resample_rate).sum().to_frame()
a.join(b, lsuffix='_cs5', rsuffix='_cs6')

            0_cs5  0_cs6
2021-08-03      5      8
2021-08-04     10     14
2021-08-05      0      0
2021-08-06      1      2
2021-08-07      0      0
2021-08-08      0      0
2021-08-09      0      0
2021-08-10      0      3
2021-08-11      0      1
2021-08-12      0      0
2021-08-13      0      1
2021-08-14      0      0
2021-08-15      1      1
2021-08-16      3      5
2021-08-17      0      0
2021-08-18      0      0
2021-08-19      0      0
2021-08-20      0      1
2021-08-21      0      1
2021-08-22      0      0
2021-08-23      0      0
2021-08-24      2      7
2021-08-25      3      7
2021-08-26      0      1
2021-08-27      0      0
2021-08-28      0      0
2021-08-29      0      0
2021-08-30      0      0
2021-08-31      3      4

In [5]:
cs5_df, cs6_df = cs5_orig_df, cs6_orig_df
cs5_1_df = cs5_df[(cs5_df['4'] == 1) & (cs5_df['0'].dt.month == 8) & (cs5_df['0'].dt.day == 24)]
cs5_1_series = pd.Series(list(cs5_1_df['4']), index=list(cs5_1_df['0']))
cs6_1_df = cs6_df[(cs6_df['4'] == 1) & (cs6_df['0'].dt.month == 8) & (cs6_df['0'].dt.day == 24)]
cs6_1_series = pd.Series(list(cs6_1_df['4']), index=list(cs6_1_df['0']))
resample_rate = 'H'
a = cs5_1_series.resample(resample_rate).sum().to_frame()
b = cs6_1_series.resample(resample_rate).sum().to_frame()
a.join(b, lsuffix='_cs5', rsuffix='_cs6')

                     0_cs5  0_cs6
2021-08-24 20:00:00      1      1
2021-08-24 21:00:00      0      0
2021-08-24 22:00:00      1      2

In [7]:
cs5_df[(cs5_df['4'] == 1) & (cs5_df['0'].dt.month == 8) & (cs5_df['0'].dt.day == 24)]

,0,1,2,3,4,5,6
26828,2021-08-24 20:29:46.701913,user 9204,retry 0,time 20.04844331741333,1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x559fe8352c80.2904386...
26836,2021-08-24 22:48:10.869103,user 9204,retry 0,time 20.039833784103394,1,command ['/usr/bin/sbatch','/tmp/condor_g_scratch.0x559fe8adc9d0.2904386...

In [6]:
cs5_df, cs6_df = cs5_orig_df, cs6_orig_df
cs5_1_df = cs5_df[(cs5_df['4'] == 1) & (cs5_df['0'].dt.month == 8) & (cs5_df['0'].dt.day == 12) 
                 & (cs5_df['0'].dt.hour == 19)]
cs5_1_series = pd.Series(list(cs5_1_df['4']), index=list(cs5_1_df['0']))
resample_rate = 'M'
cs5_1_series.resample(resample_rate).sum().to_frame()

<ipython-input-6-83fe1a86cf5b>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cs5_1_series = pd.Series(list(cs5_1_df['4']), index=list(cs5_1_df['0']))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
cs5_df[(cs5_df['4'] == 1) & (cs5_df['0'].dt.month == 8) & (cs5_df['0'].dt.day == 12) 
                 & (cs5_df['0'].dt.hour == 19)]

In [ ]:
 cs6_df[(cs6_df['0'].dt.day == 12) & (cs6_df['0'].dt.month == 8)]['4'].sum()