In [2]:
import pandas as pd

In [3]:
fs_df = pd.read_csv('../data/fullsample.csv')
fs_df.shape

(7395885, 12)

In [27]:
fs_df.head()

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31T22:15:00,Unknown,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06T11:36:09,2021-09-05T11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06T19:04:39,2021-09-05T19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09T16:52:51,2021-09-07T20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17T07:45:07,2021-09-10T16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0

In [16]:
row = df.iloc(0)[0:1]

In [20]:
pd.to_datetime(row['BEGIN'], format='%Y-%m-%dT%H:%M:%S')
ce5_923_df['4'] = ce5_923_df['4'].str.extract(r'(\d)')
ce5_923_df = ce5_923_df.rename(columns={'4':'returncode'})

0   2021-07-31 22:15:00
Name: BEGIN, dtype: datetime64[ns]

In [ ]:
# not sure how long this takes, didn't wait
# df['BEGIN'] = df['BEGIN'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%S'))

In [22]:
ce5_df = pd.read_csv('../data/cs5_9024_sbatch.csv')