In [1]:
import pandas as pd

In [14]:
with open('../data/slurm_wrapper_ce6.log') as f:
    data6 = ([line.split() for line in f])

In [15]:
ce6 = pd.DataFrame([[x[0] + 'T' + x[1], x[4], float(x[10]), int(x[13]), ''.join(x[16:])] 
                       for x in data6], columns=['BEGIN', 'USER', 'DURATION', 'RC', 'COMMAND'])

In [4]:
ce6['value_grp'] = (ce6.RC.diff(1) != 0).cumsum()

In [5]:
ce6 = ce6.reset_index()

In [6]:
f_index = pd.DataFrame({'Consecutive' : ce6.groupby('value_grp').size(),
                    'index' : ce6.groupby('value_grp').index.first(),
                    'Returncode' : ce6.groupby('value_grp').RC.first()})

In [7]:
fe_index = f_index[f_index['Returncode'] == 1]

In [8]:
fe_df = ce6.join(fe_index['index'].to_frame().set_index('index'), how='inner').sort_values('BEGIN', ascending=False)

In [9]:
fe_df[fe_df['COMMAND'].str.contains('squeue')].sort_values('BEGIN')

,index,BEGIN,USER,DURATION,RC,COMMAND,value_grp
4369343,4369343,2021-08-26T12:04:16.868759,9201,0.149483,1,"['/usr/bin/squeue','-o','%i%T','-j','31714065']",107244
4369361,4369361,2021-08-26T12:07:34.332594,9201,0.125366,1,"['/usr/bin/squeue','-o','%i%T','-j','31709066']",107246
4369526,4369526,2021-08-26T12:40:50.011112,9201,0.021584,1,"['/usr/bin/squeue','-o','%i%T','-j','31715043']",107248
4369757,4369757,2021-08-26T13:22:36.853058,9221,38.115157,1,"['/usr/bin/squeue','-o','%i%T','-u','lscpilot']",107251
4369760,4369760,2021-08-26T13:22:56.031332,9201,38.061101,1,"['/usr/bin/squeue','-o','%i%T','-u','cmspilot']",107253
...,...,...,...,...,...,...,...
4766856,4766856,2021-10-06T15:39:19.756878,9201,38.046125,1,"['/usr/bin/squeue','-o','%i%T','-j','32916657']",122316
4766864,4766864,2021-10-06T15:39:20.172144,9201,38.099831,1,"['/usr/bin/squeue','-o','%i%T','-j','32919757']",122318
4766866,4766866,2021-10-06T15:39:20.215283,9201,38.064525,1,"['/usr/bin/squeue','-o','%i%T','-j','32915070']",122320
4766874,4766874,2021-10-06T15:39:20.345332,9201,38.058775,1,"['/usr/bin/squeue','-o','%i%T','-j','32916438']",122322
4766882,4766882,2021-10-06T15:39:20.514631,9201,38.066521,1,"['/usr/bin/squeue','-o','%i%T','-j','32917550']",122324

In [10]:
fe_df[fe_df['COMMAND'].str.contains('show')].sort_values('BEGIN')

,index,BEGIN,USER,DURATION,RC,COMMAND,value_grp
551,551,2020-10-16T11:27:20.725198,9202,0.024575,1,"['/usr/bin/scontrol','show','job','24997534']",2
1134,1134,2020-10-16T11:56:04.978704,9204,0.231248,1,"['/usr/bin/scontrol','show','job','24998864']",6
2160,2160,2020-10-16T13:11:27.520898,9202,0.182415,1,"['/usr/bin/scontrol','show','job','24999305']",8
5675,5675,2020-10-16T17:03:55.623096,9202,0.147831,1,"['/usr/bin/scontrol','show','job','25004283']",10
5755,5755,2020-10-16T17:11:54.674356,9202,0.022978,1,"['/usr/bin/scontrol','show','job','25004389']",12
...,...,...,...,...,...,...,...
4368607,4368607,2021-08-26T09:48:44.593693,9201,0.235388,1,"['/usr/bin/scontrol','show','job','31700204']",107234
4368610,4368610,2021-08-26T09:48:46.862734,9201,0.379223,1,"['/usr/bin/scontrol','show','job','31700096']",107236
4368616,4368616,2021-08-26T09:48:49.314686,9201,0.030953,1,"['/usr/bin/scontrol','show','job','31699492']",107238
4368804,4368804,2021-08-26T10:13:51.519115,9201,0.212244,1,"['/usr/bin/scontrol','show','job','31713539']",107240
4368807,4368807,2021-08-26T10:14:00.201134,9201,0.314139,1,"['/usr/bin/scontrol','show','job','31713538']",107242

In [16]:
6980   + 46572   - 59776

-6224

In [12]:
fe_df[~(fe_df['COMMAND'].str.contains('show')) 
      & ~(fe_df['COMMAND'].str.contains('squeue'))
      & (fe_df['COMMAND'].str.contains('sbatch'))
     
     ]

,index,BEGIN,USER,DURATION,RC,COMMAND,value_grp
4736792,4736792,2021-10-02T18:18:44.909858,9201,20.067277,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",122191
4736688,4736688,2021-10-02T18:08:41.690096,9201,21.986075,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",122185
4736561,4736561,2021-10-02T17:48:34.428938,9201,20.282780,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",122179
4735511,4735511,2021-10-02T15:56:47.519739,9201,20.033991,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",122137
4726744,4726744,2021-10-01T17:25:50.184563,9201,20.101225,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",122004
...,...,...,...,...,...,...,...
10518,10518,2020-10-16T22:21:51.667551,9202,20.034085,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",32
10512,10512,2020-10-16T22:21:46.466912,9201,20.031219,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",30
10503,10503,2020-10-16T22:21:26.435284,9201,20.028012,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",26
6172,6172,2020-10-16T17:43:27.162054,9201,20.462368,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",16
931,931,2020-10-16T11:43:49.344696,9201,20.031806,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",4

In [13]:
fe_df

,index,BEGIN,USER,DURATION,RC,COMMAND,value_grp
4766882,4766882,2021-10-06T15:39:20.514631,9201,38.066521,1,"['/usr/bin/squeue','-o','%i%T','-j','32917550']",122324
4766874,4766874,2021-10-06T15:39:20.345332,9201,38.058775,1,"['/usr/bin/squeue','-o','%i%T','-j','32916438']",122322
4766866,4766866,2021-10-06T15:39:20.215283,9201,38.064525,1,"['/usr/bin/squeue','-o','%i%T','-j','32915070']",122320
4766864,4766864,2021-10-06T15:39:20.172144,9201,38.099831,1,"['/usr/bin/squeue','-o','%i%T','-j','32919757']",122318
4766856,4766856,2021-10-06T15:39:19.756878,9201,38.046125,1,"['/usr/bin/squeue','-o','%i%T','-j','32916657']",122316
...,...,...,...,...,...,...,...
5675,5675,2020-10-16T17:03:55.623096,9202,0.147831,1,"['/usr/bin/scontrol','show','job','25004283']",10
2160,2160,2020-10-16T13:11:27.520898,9202,0.182415,1,"['/usr/bin/scontrol','show','job','24999305']",8
1134,1134,2020-10-16T11:56:04.978704,9204,0.231248,1,"['/usr/bin/scontrol','show','job','24998864']",6
931,931,2020-10-16T11:43:49.344696,9201,20.031806,1,"['/usr/bin/sbatch','/tmp/condor_g_scratch.0x55...",4
551,551,2020-10-16T11:27:20.725198,9202,0.024575,1,"['/usr/bin/scontrol','show','job','24997534']",2

In [19]:
fe_df[(fe_df['COMMAND'].str.contains('scontrol')) & ~(fe_df['COMMAND'].str.contains('show'))]

Empty DataFrame
Columns: [index, BEGIN, USER, DURATION, RC, COMMAND, value_grp]
Index: []